```{=html}
<ul>
    <% for (const item of items) { %>
        <li>
            <%= item.title %>, Murat Koptur. <a href="<%- item.path %>">
                    Full-text HTML
                </a>
        </li>
        <% } %>
</ul>
```